<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	   					   http://www.springframework.org/schema/beans/spring-beans.xsd
	   					   http://www.springframework.org/schema/jdbc
						   http://www.springframework.org/schema/jdbc/spring-jdbc-3.1.xsd
					       http://www.springframework.org/schema/tx
						   http://www.springframework.org/schema/tx/spring-tx-3.1.xsd
						   http://www.springframework.org/schema/context
						   http://www.springframework.org/schema/context/spring-context-3.1.xsd">
						   
	<context:annotation-config />


	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close" lazy-init="true">
		<property name="driverClassName" value="org.sqlite.JDBC" />
		<property name="url" value="jdbc:sqlite:dict.db" />
		<property name="initialSize" value="1" />
		<property name="maxActive" value="1" />
		<property name="maxIdle" value="1" />
		<property name="poolPreparedStatements" value="true" />
		<property name="connectionInitSqls">
			<list>
				<value>PRAGMA foreign_keys = ON</value>
			</list>
		</property>
	</bean>

	<bean name="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<constructor-arg ref="dataSource" />
	</bean>
	
	
	<tx:annotation-driven />
	
	
	<context:component-scan base-package="Poc.TestSqliteJdbc" />
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="packagesToScan" value="Poc.TestSqliteJdbc" />
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">Poc.TestSqliteJdbc.util.SQLiteDialect</prop>
				<prop key="hibernate.max_fetch_depth">3</prop>
				<prop key="hibernate.jdbc.fetch_size">50</prop>
				<prop key="hibernate.jdbc.batch_size">10</prop>
				<prop key="hibernate.show_sql">true</prop>
			</props>
		</property>
	</bean>
	
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	

	<!-- iz hibernate propertija -->
	<!-- <session-factory> -->
	<!-- <property name="show_sql">true</property> -->
	<!-- <property name="format_sql">true</property> -->
	<!-- <property name="dialect">Poc.TestSqliteJdbc.util.SQLiteDialect</property> -->
	<!-- <property name="connection.driver_class">org.sqlite.JDBC</property> -->
	<!-- <property name="connection.url">jdbc:sqlite:sample.db</property> -->
	<!-- <property name="connection.username"></property> -->
	<!-- <property name="connection.password"></property> -->

	<!-- <property name="hibernate.hbm2ddl.auto">update</property> -->
	<!-- <property name="show_sql">true</property> -->
	<!-- <property name="format_sql">true</property> -->

	<!-- <mapping class="Poc.TestSqliteJdbc.entity.Word"/> -->
	<!-- </session-factory> -->


	
</beans>